<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css" >
    

</head>
<body>

    <div id="app">
        <div class="container-fluid" >
            <header>
                <h1 class="text-center text-info">Todolist</h1>
            </header>
            <div class="jumbotron">
                <form method="post">
                    <b-input-group prepend="Todo" class="mt-3">
                            <input type="text" name="title" class="form-control" v-model="newTodo.title" @keydown.enter="addTodo()" placeholder="What's you need to do...">
                            <b-button @click="addTodo()">Add</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </form>
                <div class="todo-list">
                    <b-container class="bv-example-row todo-list" v-for="todo in todos">
                        <b-row class="text-center">
                            <b-col>
                                <b-button size="sm" class="btn-success button" @click="selectTodo(todo); makeCompleated()" v-if="todo.compleated == 0">&#10004;</b-button>
                                <b-button size="sm" class="btn-danger button" @click="selectTodo(todo); makeUnCompleated()" v-if="todo.compleated == 1">&times;</b-button>
                            </b-col>
                            <b-col cols="10">
                                <div class="single-todo" :class="{ strike: todo.compleated == 1, completed : todo.completed}">
                                    {{ todo.title }}
                                </div>
                            </b-col>
                            <b-col class="x" @click="selectTodo(todo); deleteTodo();">&times;</b-col>
                        </b-row>
                    </b-container>
                </div>
                <hr class="my-4">
                
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" :class="{ active: filter == 'all' }" @click="filterAll(); filter = 'all'">All</button>
                    <button type="button" class="btn btn-success" :class="{ active: filter == 'active' }" @click="filterActive(); filter = 'active'">Active</button>
                    <button type="button" class="btn btn-warning" :class="{ active: filter == 'completed' }" @click="filterCompleated(); filter = 'completed'">Compleated</button>
                </div>
                <button type="button" class="btn btn-danger float-right" @click="clearCompleate()">Clear compleated</button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="main.js"></script>
</body>
</html>