<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css" >
    

</head>
<body>

    <div id="app">
        <div class="container-fluid">
            <header>
                <h1 class="text-center text-muted">Todolist</h1>
            </header>
            <div class="jumbotron">
                <form action="#" method="post">
                    <b-input-group prepend="Todo" class="mt-3">
                            <input type="text" name="title" class="form-control" v-model="newTodo.title" placeholder="What's you need to do...">
                            <b-button @click="addTodo()" class="button">Add</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </form>
                <div class="todo-list">
                    <b-container class="bv-example-row todo-list" v-for="todo in todos">
                        <b-row class="text-center">
                            <b-col><input type="checkbox" name="compleated" class="checkbox"></b-col>
                            <b-col cols="8">
                                <div class="single-todo">
                                    {{ todo.title }}
                                </div>
                            </b-col>
                            <b-col class="x" @click="selectTodo(todo); deleteTodo();">&times;</b-col>
                        </b-row>
                </div>
                <hr class="my-4">
                
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">All</button>
                    <button type="button" class="btn btn-success">Active</button>
                    <button type="button" class="btn btn-warning">Done</button>
                </div>
                <button type="button" class="btn btn-danger float-right">Clear done</button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="main.js"></script>
</body>
</html>