body{
    margin: 0;
    background: #ddd;
    font-family: sans-serif;
}
.container-fluid{
    margin:0;
    padding: 0;   
}
header{
    background: rgb(39, 74, 88);
    width: 100%;
    margin: 0;
    padding: 10px;
}
.jumbotron{
    width: 70%;
    margin: auto;
}
.todo-list{
    background: #ccc;
    border: #999 solid 1px;
    padding:0 ;
    font-size:22px;
}
.single-todo{
    padding:5px;
}
.x {
    display:block;
    cursor: pointer;
    padding:10px;
}
.checkbox{
    margin:2    0px;
}
.strike {
    text-decoration: line-through;
    color: #888
}